{% extends 'base.html.twig' %}
{% block title %}Tableau de bord{% endblock %}

{% block body %}
    <main class="main-dashboard-admin">
        <h2>Tableau de bord</h2>

        <section class="grid-dashboard-admin">
            <section>
                <a href="{{ path('admin_users') }}">
                    <div class="div-svg">
                        <svg width="128" height="128" viewBox="28.293 28.142 72.624 72.775"
                             xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <clipPath id="clip-options">
                                    <rect width="128" height="128"></rect>
                                </clipPath>
                            </defs>
                            <g id="options" clip-path="url(#clip-options)">
                                <path id="_" data-name=""
                                      d="M63.554-37.783q0,.321.018.642t.018.642q0,.321-.018.642t-.018.642l9.232,5.739L67.119-15.826,56.532-18.25q-.855.927-1.782,1.782L57.174-5.881,43.522-.214,37.783-9.446q-.321,0-.642.018T36.5-9.41q-.321,0-.642-.018t-.642-.018L29.478-.214,15.826-5.881,18.25-16.468q-.927-.855-1.782-1.782L5.881-15.826.214-29.478l9.232-5.739q0-.321-.018-.642T9.41-36.5q0-.321.018-.642t.018-.642L.214-43.522,5.881-57.174,16.468-54.75q.855-.927,1.782-1.782L15.826-67.119l13.652-5.667,5.739,9.232q.321,0,.642-.018t.642-.018q.321,0,.642.018t.642.018l5.739-9.232,13.652,5.667L54.75-56.532q.927.855,1.782,1.782l10.586-2.424,5.667,13.652Zm-4.17,4.634q.071-.855.143-1.693t.071-1.693q0-.82-.071-1.675t-.143-1.675l8.412-5.24L64.73-52.54l-9.66,2.246a30.972,30.972,0,0,0-2.263-2.5q-1.158-1.141-2.513-2.281l2.246-9.66L45.126-67.8l-5.275,8.412q-.82-.071-1.675-.143T36.5-59.6q-.855,0-1.693.071l-1.693.143L27.874-67.8,20.46-64.73l2.246,9.66a30.971,30.971,0,0,0-2.5,2.263q-1.141,1.158-2.281,2.513L8.27-52.54,5.2-45.126l8.412,5.275q-.071.855-.143,1.693T13.4-36.464q0,.82.071,1.675t.143,1.675L5.2-27.874,8.27-20.46l9.66-2.246a30.97,30.97,0,0,0,2.263,2.5q1.158,1.141,2.513,2.281L20.46-8.27,27.874-5.2l5.275-8.412q.82.071,1.675.143T36.5-13.4q.855,0,1.693-.071l1.693-.143L45.126-5.2,52.54-8.27l-2.246-9.66a30.971,30.971,0,0,0,2.5-2.263q1.141-1.158,2.281-2.513l9.66,2.246L67.8-27.874ZM36.5-49.9a13.06,13.06,0,0,1,5.222,1.052,13.524,13.524,0,0,1,4.26,2.869,13.524,13.524,0,0,1,2.869,4.26A13.06,13.06,0,0,1,49.9-36.5a13.06,13.06,0,0,1-1.052,5.222,13.524,13.524,0,0,1-2.869,4.26,13.524,13.524,0,0,1-4.26,2.869A13.06,13.06,0,0,1,36.5-23.1a13.06,13.06,0,0,1-5.222-1.052,13.524,13.524,0,0,1-4.26-2.869,13.524,13.524,0,0,1-2.869-4.26A13.06,13.06,0,0,1,23.1-36.5a13.06,13.06,0,0,1,1.052-5.222,13.524,13.524,0,0,1,2.869-4.26,13.524,13.524,0,0,1,4.26-2.869A13.06,13.06,0,0,1,36.5-49.9Zm0,22.813a9.249,9.249,0,0,0,3.671-.731,9.425,9.425,0,0,0,2.994-2.014,9.425,9.425,0,0,0,2.014-2.994A9.249,9.249,0,0,0,45.91-36.5a9.249,9.249,0,0,0-.731-3.671,9.425,9.425,0,0,0-2.014-2.994,9.425,9.425,0,0,0-2.994-2.014A9.249,9.249,0,0,0,36.5-45.91a9.249,9.249,0,0,0-3.671.731,9.425,9.425,0,0,0-2.994,2.014,9.425,9.425,0,0,0-2.014,2.994A9.249,9.249,0,0,0,27.09-36.5a9.248,9.248,0,0,0,.731,3.671,9.425,9.425,0,0,0,2.014,2.994,9.425,9.425,0,0,0,2.994,2.014A9.248,9.248,0,0,0,36.5-27.09Z"
                                      transform="translate(28 101)"></path>
                            </g>
                        </svg>
                    </div>
                    <div>
                        <h3>
                            
                            Gestion des utilisateurs
                        </h3>
                        <p>Voir et supprimer des utilisateurs</p>
                    </div>
                </a>
            </section>
            <section>
                <a href="{{ path('admin_moderateurs') }}">
                    <div class="div-svg">
                        <svg width="128" height="128" viewBox="28.293 28.142 72.624 72.775"
                             xmlns="http://www.w3.org/2000/svg">
                            <defs>
                                <clipPath id="clip-options">
                                    <rect width="128" height="128"></rect>
                                </clipPath>
                            </defs>
                            <g id="options" clip-path="url(#clip-options)">
                                <path id="_" data-name=""
                                      d="M63.554-37.783q0,.321.018.642t.018.642q0,.321-.018.642t-.018.642l9.232,5.739L67.119-15.826,56.532-18.25q-.855.927-1.782,1.782L57.174-5.881,43.522-.214,37.783-9.446q-.321,0-.642.018T36.5-9.41q-.321,0-.642-.018t-.642-.018L29.478-.214,15.826-5.881,18.25-16.468q-.927-.855-1.782-1.782L5.881-15.826.214-29.478l9.232-5.739q0-.321-.018-.642T9.41-36.5q0-.321.018-.642t.018-.642L.214-43.522,5.881-57.174,16.468-54.75q.855-.927,1.782-1.782L15.826-67.119l13.652-5.667,5.739,9.232q.321,0,.642-.018t.642-.018q.321,0,.642.018t.642.018l5.739-9.232,13.652,5.667L54.75-56.532q.927.855,1.782,1.782l10.586-2.424,5.667,13.652Zm-4.17,4.634q.071-.855.143-1.693t.071-1.693q0-.82-.071-1.675t-.143-1.675l8.412-5.24L64.73-52.54l-9.66,2.246a30.972,30.972,0,0,0-2.263-2.5q-1.158-1.141-2.513-2.281l2.246-9.66L45.126-67.8l-5.275,8.412q-.82-.071-1.675-.143T36.5-59.6q-.855,0-1.693.071l-1.693.143L27.874-67.8,20.46-64.73l2.246,9.66a30.971,30.971,0,0,0-2.5,2.263q-1.141,1.158-2.281,2.513L8.27-52.54,5.2-45.126l8.412,5.275q-.071.855-.143,1.693T13.4-36.464q0,.82.071,1.675t.143,1.675L5.2-27.874,8.27-20.46l9.66-2.246a30.97,30.97,0,0,0,2.263,2.5q1.158,1.141,2.513,2.281L20.46-8.27,27.874-5.2l5.275-8.412q.82.071,1.675.143T36.5-13.4q.855,0,1.693-.071l1.693-.143L45.126-5.2,52.54-8.27l-2.246-9.66a30.971,30.971,0,0,0,2.5-2.263q1.141-1.158,2.281-2.513l9.66,2.246L67.8-27.874ZM36.5-49.9a13.06,13.06,0,0,1,5.222,1.052,13.524,13.524,0,0,1,4.26,2.869,13.524,13.524,0,0,1,2.869,4.26A13.06,13.06,0,0,1,49.9-36.5a13.06,13.06,0,0,1-1.052,5.222,13.524,13.524,0,0,1-2.869,4.26,13.524,13.524,0,0,1-4.26,2.869A13.06,13.06,0,0,1,36.5-23.1a13.06,13.06,0,0,1-5.222-1.052,13.524,13.524,0,0,1-4.26-2.869,13.524,13.524,0,0,1-2.869-4.26A13.06,13.06,0,0,1,23.1-36.5a13.06,13.06,0,0,1,1.052-5.222,13.524,13.524,0,0,1,2.869-4.26,13.524,13.524,0,0,1,4.26-2.869A13.06,13.06,0,0,1,36.5-49.9Zm0,22.813a9.249,9.249,0,0,0,3.671-.731,9.425,9.425,0,0,0,2.994-2.014,9.425,9.425,0,0,0,2.014-2.994A9.249,9.249,0,0,0,45.91-36.5a9.249,9.249,0,0,0-.731-3.671,9.425,9.425,0,0,0-2.014-2.994,9.425,9.425,0,0,0-2.994-2.014A9.249,9.249,0,0,0,36.5-45.91a9.249,9.249,0,0,0-3.671.731,9.425,9.425,0,0,0-2.994,2.014,9.425,9.425,0,0,0-2.014,2.994A9.249,9.249,0,0,0,27.09-36.5a9.248,9.248,0,0,0,.731,3.671,9.425,9.425,0,0,0,2.014,2.994,9.425,9.425,0,0,0,2.994,2.014A9.248,9.248,0,0,0,36.5-27.09Z"
                                      transform="translate(28 101)"></path>
                            </g>
                        </svg>
                    </div>
                    <div>
                        <h3>

                            Gestion des modérateurs
                        </h3>
                        <p>Voir et supprimer des modérateurs</p>
                    </div>
                </a>
            </section>
        </section>
    </main>
{% endblock %}