{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}



    <h1>MatchAge </h1>

    <div class="logo-page-accueil">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge">
    </div>
    <div>
        <button>Lancer une recherche</button>
        <button>Lancer une recherche avec filtre</button>
    </div>

{% endblock %}
