{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}



    <h1>MatchAge </h1>

    <div class="logo-page-accueil">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge" class="logo-accueil">
    </div>
    <div>

        {{ form_start(form) }}

        {{ form_end(form) }}


        <button type="button" data-controller="add-class"
                data-action="click->add-class#toggleClass">Lancer une recherche avec filtre
        </button>
    </div>
    <div id="result"></div>

   
{% endblock %}
