{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}


    <main data-controller="add-class">
        <h1>MatchAge </h1>

        <div class=" logo-page-accueil ">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge" class="logo-accueil" id="test-img"
                 data-add-class-target="target">

        </div>
        <div>

            {{ form_start(form) }}

            {{ form_end(form) }}
            <button type="button"
                    data-action="click->add-class#toggleClass" data-target-id="test-img">Lancer une recherche avec
                filtre
            </button>

        </div>
        <div id="result"></div>
    </main>



{% endblock %}
