{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}



    <h1>MatchAge </h1>

    <div class="logo-page-accueil">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge">
    </div>
    <div>
        <button id="search-button">Lancer une recherche</button>
        <button>Lancer une recherche avec filtre</button>
    </div>

    <script>
        document.getElementById('search-button').addEventListener('click', () => {
            setInterval(() => {
                fetch('/search', { method: 'POST' })
                    .then(response => response.json())
                    .then(data => {
                        if (data.status === 'matched') {

                            alert('Vous avez trouvé une correspondance !');
                            clearInterval(this); // Arrête le polling.

                        }
                    });
            }, 5000);
        });
    </script>

{% endblock %}
