{% extends 'base.html.twig' %}
{% block meta %}Hello AccueilController!{% endblock %}
{% block meta_tags %}
    <meta http-equiv="refresh" content="2;url={{ path('search_progress') }}">
{% endblock %}

{% block body %}
    <div class=" logo-page-accueil ">
        <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge" class="logo-accueil search-actif" id="test-img"
             data-add-class-target="target">

    </div>
    <p>Recherche en cours... Veuillez patienter.</p>
    <a href="{{ path('search_cancel') }}">Annuler la recherche</a>
{% endblock %}
