{% extends 'base.html.twig' %}
{% block meta %}Hello AccueilController!{% endblock %}
{% block meta_tags %}
    <meta http-equiv="refresh" content="2;url={{ path('search_progress') }}">
{% endblock %}

{% block body %}
    <main class="main-search-progress">
        <div class=" logo-page-accueil ">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge" class="logo-accueil search-actif"
                 id="test-img"
                 data-add-class-target="target">

        </div>
        <div><p>Recherche en cours... Veuillez patienter.</p></div>
        <div><a href="{{ path('search_cancel') }}">Annuler la recherche</a></div>

    </main>

{% endblock %}
