* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto ', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Roboto bold', sans-serif;
}


p, label, legend, select, input, div {
    font-size: 14px;
    @media screen and (min-width: 992px) {
        font-size: 16px;

    }
}

body {
    background-color: skyblue;
    min-height: 100vh;
    @media screen and (min-width: 767px) {
        display: flex;

    }
}

.invalid-feedback {
    margin-top: 0.8rem;
    color: #b90000
}

body header {
    display: flex;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    border-bottom: solid 1px #707070;
    margin-bottom: 2rem;
    @media screen and (min-width: 767px) {
        display: block;
        width: 22vw;
        min-width: 22vw;
        min-height: 100vh;
        height: auto;
        border-right: 1px solid #707070;
        border-bottom: 0;
        margin-bottom: 0;
    }
    @media screen and (min-width: 992px) {
        width: 17vw;
        min-width: 17vw;
    }
    @media screen and (min-width: 1200px) {
        width: 15vw;
        min-width: 15vw;
    }
    @media screen and (min-width: 1400px) {
        width: 13vw;
        min-width: 13vw;
    }
}

body header h1 {
    margin-left: 0.5rem;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;

    @media screen and (min-width: 767px) {
        display: flex;
        align-items: center;
        height: 70px;

    }
}

body header .sidenav {
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: -100%;
    background-color: #257180;
    padding-top: 60px;
    transition: left 0.5s ease;
    @media screen and (min-width: 767px) {
        position: static;
        display: block;
        margin-left: 0.5rem;
        width: auto;
        height: auto;
        background-color: transparent;
        padding-top: 0;
        transition: none;
    }
}

body header .sidenav.active {
    left: 0;
}

/* Close btn */
body header .sidenav .close {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    color: #FFFFFF;
    @media screen and (min-width: 767px) {
        display: none;
    }
}

body header .sidenav nav ul li {
    list-style: none;
    height: 50px;
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    display: flex;
    justify-content: center;
    align-items: center;

}

body header .sidenav nav ul li a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #FFFFFF;
    display: block;
    transition: 0.3s;
    @media screen and (min-width: 767px) {
        padding: 0;
        font-size: 16px;
        color: #551A8B;
        transition: none;
    }
}

body header .sidenav nav ul li a:hover {
    color: #0044FF;
    font-weight: bold;
}

body header .sidenav nav ul li .navActive {
    color: #0044FF;
    font-weight: bold;
}

#openBtn {
    display: inline;
    margin-right: 0.5rem;
    @media screen and (min-width: 767px) {
        display: none;
    }
}

.burger-icon span {
    display: block;
    width: 35px;
    height: 5px;
    background-color: black;
    margin: 6px 0;
}

body main {
    width: 100%;
    @media screen and (min-width: 767px) {
        margin-top: 5rem;
        width: 78vw;
    }
    @media screen and (min-width: 992px) {
        width: 83vw;
        margin-top: 3rem;
    }
    @media screen and (min-width: 1200px) {
        width: 85vw;
    }
    @media screen and (min-width: 1400px) {
        width: 87vw;
    }
}


.img-logo {
    width: 3rem;

}

.search-actif {
    animation: infinite ease 2s rotateimg;

}

body form {
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #000000;
    padding: 1.5rem;
    border-radius: 10px;
}

body .form-connexion {
    width: 95%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    @media screen and (min-width: 767px) {
        width: 50%;
    }
    @media screen and (min-width: 992px) {
        width: 25%;
    }
}

body .form-connexion div {
    display: flex;
    flex-direction: column;
}

body .form-connexion div label {
    display: none;
}

body .form-connexion div input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #707070;
    height: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    outline: none;
    font-size: 14px;
    margin-bottom: 1rem;
}

body .form-connexion div input::placeholder {
    font-family: 'Roboto', sans-serif;
    color: white;
    font-size: 14px;
}

body .form-connexion button {
    height: 50px;
    background-color: #01204E;
    font-size: 16px;
    color: white;
    text-transform: uppercase;
}

body .logo-page-accueil {
    display: flex;
    margin: 0 auto 2rem;
    width: 50vw;
    @media screen and (min-width: 767px) {
        width: 25vw;
    }
    @media screen and (min-width: 992px) {
        width: 15vw;
    }
    @media screen and (min-width: 1400px) {
        width: 10vw;
    }
}

body .logo-page-accueil img {
    width: 100%;
}


body .main-admin-users h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Roboto bold', sans-serif;
    @media screen and (min-width: 767px) {
        margin-bottom: 3rem;
    }
}

body .main-admin-users .grid-admin-users {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    max-width: 95%;
    margin: 0 auto;
    @media screen and (min-width: 767px) {
        grid-template-columns: repeat(2, 48%);
        margin: 0 2rem;
        max-width: 100%;
        justify-content: space-between;
    }
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(2, 48%);
        margin: 0 3rem;
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

body .main-admin-users .grid-admin-users section {
    border: 1px solid #707070;
    padding: 1rem;
}

body .main-admin-users .grid-admin-users section div {
    display: flex;
    justify-content: space-between;
}

body .main-admin-users .grid-admin-users section div:not(:last-of-type) {
    margin-bottom: 10px;
}

body .main-admin-users .grid-admin-users section .pays-email-gestion-user span {
    max-width: 70%;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

body .main-admin-users .grid-admin-users section .btn-gestion-user {
    height: 50px;

}

body .main-admin-users .grid-admin-users section .btn-gestion-user div {
    background-color: #01204E;
    align-self: center;
    height: 100%;
    text-align: center;
    width: 45%;
    justify-content: center;
}

body .main-admin-users .grid-admin-users section .btn-gestion-user div a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;

    font-size: 12px;
    height: 100%;
    width: 100%;
    @media screen and (min-width: 992px) {
        font-size: 14px;
    }
}

body .main-admin-users .grid-admin-users section .btn-gestion-user form {
    margin: 0;
    width: 45%;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    height: 100%;

}

body .main-admin-users .grid-admin-users section .btn-gestion-user form button {
    background-color: #01204E;
    border: none;
    color: #fff;
    height: 100%;
    width: 100%;
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    cursor: pointer;
    @media screen and (min-width: 992px) {
        font-size: 14px;
    }
}

body .main-dashboard-admin h2 {
    text-align: center;
    margin-bottom: 2rem;
    font-family: 'Roboto bold', sans-serif;
    @media screen and (min-width: 767px) {
        margin-bottom: 3rem;
    }
}

body .main-dashboard-admin .grid-dashboard-admin {
    max-width: 95%;
    margin: 0 auto 30px;
    grid-template-columns: 1fr;
    display: grid;
    gap: 1rem 0;
    @media screen and (min-width: 767px) {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        max-width: 100%;
        margin: 0 2rem;
    }
    @media screen and (min-width: 992px) {
        grid-template-columns: repeat(3, 1fr);
    }
    @media screen and (min-width: 1400px) {
        grid-template-columns: repeat(4, 1fr);
    }
}

body .main-dashboard-admin .grid-dashboard-admin section {
    border: 1px solid #707070;
    padding: 0.5rem;
    height: 80px;
    @media screen and (min-width: 767px) {
        height: auto;
    }
    @media screen and (min-width: 1400px) {
        height: 105px;
    }
}

body .main-dashboard-admin .grid-dashboard-admin section a {
    display: flex;
    align-items: center;

    text-decoration: none;
    height: 100%;
}

body .main-dashboard-admin .grid-dashboard-admin section a div h3 {
    font-family: 'Roboto bold', sans-serif;
    color: #000000;
    margin-bottom: 5px;
    font-size: 1rem;
}

body .main-dashboard-admin .grid-dashboard-admin section a div p {
    font-family: 'Roboto ', sans-serif;
    color: #000000;
    font-size: 14px;
}

body .main-dashboard-admin .grid-dashboard-admin section a .div-svg {
    width: 30px;
    height: 30px;
    margin-right: 1rem;
}

body .main-dashboard-admin .grid-dashboard-admin section a .div-svg svg {
    width: 100%;
    height: 100%;
}

body .main-inscription h2 {
    text-align: center;
    margin-bottom: 2rem;
}

body .main-inscription form {
    width: 100%;
    max-width: 95%;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
    @media screen and (min-width: 992px) {
        display: flex;
        justify-content: space-between;
    }
    @media screen and (min-width: 1400px) {
        justify-content: space-evenly;
    }
}

body .main-inscription.admin form {

    @media screen and (min-width: 992px) {

        justify-content: center;
    }
    @media screen and (min-width: 1400px) {
        justify-content: space-evenly;
    }
}

body .main-inscription.admin a {
    text-align: center;
    height: 50px;
    background-color: #01204E;
    font-size: 16px;
    color: white;

    width: 100%;
    border: none;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;


}

body .main-inscription form h3 {
    margin-bottom: 1.5rem;
}

body .main-inscription form .coordonee-inscription {
    margin-bottom: 2rem;
    @media screen and (min-width: 992px) {
        width: 45%;
    }
    @media screen and (min-width: 1400px) {
        width: 30%;
    }
}

body .main-inscription form .connexion-inscription {
    margin-bottom: 1rem;
    @media screen and (min-width: 992px) {
        width: 45%;
    }
    @media screen and (min-width: 1400px) {
        width: 30%;
    }
}


body .main-inscription form div:not(:last-of-type) {
    margin-bottom: 20px;
}

body .main-inscription form .form-date-style {
    border: 0;
    margin-bottom: 20px;
}

body .main-inscription form .form-date-style legend {

    margin-bottom: 10px;
}

body .main-inscription form .form-date-style div .input-group {

    align-items: center;
    display: flex;
    justify-content: space-between;
}

body .main-inscription form .form-date-style div .input-group select {
    background-color: #257180;
    border: 0;
    color: #fff;
    height: 30px;
    outline: none;
    width: 30%;
    cursor: pointer;
}

body .main-inscription form .form-date-style div .visually-hidden {
    display: none;
}

body .main-inscription form .form-div-flex {
    display: flex;
    flex-direction: column
}

body .main-inscription form .form-div-flex label {
    margin-bottom: 0.5rem;
}

body .main-inscription form .form-div-flex select {
    background-color: #257180;
    border: 0;
    color: #fff;
    height: 30px;
    outline: none;
    cursor: pointer;
}

body .main-inscription form .form-div-flex #user_civilite {
    width: 30%;

}

body .main-inscription form div input {
    outline: none;
    background-color: transparent;
    border: 0;
    border-bottom: 1px solid #707070;
    font-family: 'Roboto ', sans-serif;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 10px;
}

body .main-inscription form div input::placeholder {
    color: #000000;
    font-size: 14px;
    @media screen and (min-width: 992px) {
        font-size: 16px;
    }
}

body .main-inscription form div .label-none {
    display: none;
}

body .main-inscription form .mention-obligatoire {
    text-align: right;
    margin-bottom: 20px;
}

body .main-inscription form button {
    height: 50px;
    background-color: #01204E;
    font-size: 16px;
    color: white;
    width: 100%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
}


body .main-accueil form {
    width: 100%;
    max-width: 95%;
    margin: 0 auto;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

body .main-accueil form div {
    display: flex;
    justify-content: center;
}

body .main-accueil form div button {
    height: 50px;
    background-color: #01204E;
    font-size: 16px;
    color: white;
    width: 100%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (min-width: 767px) {
        width: 60%;
    }
    @media screen and (min-width: 1200px) {
        width: 40%;
    }
}

body .lesConversations {


    @media screen and (min-width: 992px) {
        max-width: 35%;


    }
    @media screen and (min-width: 1200px) {
        max-width: 30%;
    }
    @media screen and (min-width: 1400px) {
        max-width: 25%;

    }
}


body .lesConversations section a {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-decoration: none;
    max-width: 95%;
    margin: 0 auto;
    @media screen and (min-width: 992px) {

        margin: 0 0 0 20px;

    }
}

body .lesConversations section:not(:last-of-type) {
    padding-bottom: 10px;
    border-bottom: 1px solid #707070;
}

body .lesConversations section:not(:first-of-type) {
    padding-top: 10px;

}

body .lesConversations section .image-profil {
    height: 40px;
    width: 40px;
    background-color: #01204E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;

}

body .lesConversations section .prenom-contenue {
    max-width: 65%;
    width: 100%;
}

body .lesConversations section .prenom-contenue p {
    display: flex;
    flex-direction: column;

}

body .lesConversations section div:nth-child(2) p span {
    color: black;
    font-weight: bold;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

body .lesConversations section .date-messsage p {
    font-weight: bold;
    color: black;
}

body .lesConversations section div:nth-child(2) p a span:nth-child(1) {
    margin-bottom: 5px;

}

.get-message::-webkit-scrollbar {
    display: none;
}

.get-message {

    -ms-overflow-style: none; /* Internet Explorer 10+ */
}


.get-message header {
    display: none;
    @media screen and (min-width: 992px) {
        display: block;
    }
}


body .main-user-discussion::-webkit-scrollbar {
    display: none;
}

body .main-user-discussion {
    overflow: hidden;
    @media screen and (min-width: 767px) {
        margin-top: 0;
        width: 100%;
    }
    @media screen and (min-width: 992px) {
        display: flex;
    }
}

body .main-user-discussion .lesConversations {
    display: none;
    @media screen and (min-width: 992px) {
        display: block;
        border-right: 1px solid #707070;
        padding-top: 1rem;
        width: 100%;

    }
}

body .main-user-discussion .lesConversations section a {
    margin: 0 10px;
    column-gap: 5px;
}

body .main-user-discussion .section-message-user {

    margin: 0 auto;
    @media screen and (min-width: 992px) {
        max-width: 65%;
        width: 100%;

    }
    @media screen and (min-width: 1200px) {
        max-width: 70%;
    }
    @media screen and (min-width: 1400px) {
        max-width: 75%;

    }

}

body .main-user-discussion .section-message-user .photo-nom-user {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 100%;
    background-color: #257180;
    padding: 10px;
    position: sticky;
    top: 0;
}

body .main-user-discussion .section-message-user .photo-nom-user .fleche-back {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    @media screen and (min-width: 992px) {
        display: none;
    }
}

body .main-user-discussion .section-message-user .photo-nom-user .fleche-back a svg {

    color: #FFFFFF;
}

body .main-user-discussion .section-message-user .photo-nom-user .image-profil {
    height: 40px;
    width: 40px;
    background-color: #01204E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    margin-right: 10px;
}

body .main-user-discussion .section-message-user .photo-nom-user div p {
    color: #FFFFFF;
    font-weight: bold;

}


body .main-user-discussion .section-message-user #lesMessages {
    display: flex;
    flex-direction: column;
    padding: 0 10px;
    height: calc(100vh - 150px);
    overflow-y: scroll;
    -ms-overflow-style: none; /* Internet Explorer 10+ */
}

body .main-user-discussion .section-message-user #lesMessages::-webkit-scrollbar {
    display: none;
}

body .main-user-discussion .section-message-user #lesMessages p {
    text-align: justify;
    max-width: 85%;
    margin-bottom: 5px;
    background-color: #257180;
    padding: 0.5rem;
    color: white;
    border-radius: 15px;
    word-break: break-word;
}

body .main-user-discussion .section-message-user #lesMessages .current-user {
    align-self: flex-end;

}

body .main-user-discussion .section-message-user #lesMessages .other-user {
    align-self: flex-start;

}

body .main-user-discussion .section-message-user form {
    position: sticky;
    bottom: 0;
    width: 100%;
    margin: 0;
    padding: 10px;
    border-radius: 0;
    background-color: #257180;
}

body .main-user-discussion .section-message-user form {
    display: flex;
}

body .main-user-discussion .section-message-user form .form-message {
    margin-right: 5px;
    width: 90%;
}

body .main-user-discussion .section-message-user form .form-message div {
    display: flex;
    width: 100%;
}

body .main-user-discussion .section-message-user form .form-message div textarea {

    width: 100%;
    outline: none;
    background-color: #01204E;
    border: 0;
    color: #FFFFFF;
    padding: 10px;
    border-radius: 15px;
    resize: none;
}

body .main-user-discussion .section-message-user form .form-message div textarea::placeholder {

    color: #FFFFFF;
    line-height: 30px;
}

body .main-user-discussion .section-message-user form .btn-send-message {

    align-self: flex-end;
    background-color: #01204E;
    border: 0;
    padding: 5px;
}

body .main-user-discussion .section-message-user form .btn-send-message svg {
    width: 20px;
    fill: white;
    cursor: pointer;
}

body .main-search-found h2 {
    text-align: center;
    margin-bottom: 2rem;
}

body .main-search-found .section-search-results {
    max-width: 95%;
    margin: 0 auto 20px;
    @media screen and (min-width: 992px) {
        max-width: 55%;
    }
    @media screen and (min-width: 1200px) {
        max-width: 35%;
    }

}

body .main-search-found .section-search-results div:not(:last-of-type) {
    margin-bottom: 10px;
}

body .main-search-found .section-search-results div p {
    display: flex;
    justify-content: space-between;
}

body .main-search-found .section-search-results div p span {
    font-weight: bold;
}

body .main-search-found form {
    max-width: 95%;
    width: 100%;
    box-shadow: none;
    padding: 0;
    border-radius: 0;
}

body .main-search-found form div {
    display: flex;
    justify-content: center;
}

body .main-search-found form div button {
    height: 50px;
    background-color: #01204E;
    font-size: 16px;
    color: white;
    width: 100%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    @media screen and (min-width: 767px) {
        width: 60%;
    }
    @media screen and (min-width: 1200px) {
        width: 40%;
    }
}

body .main-search-found form div:nth-of-type(1) {
    margin-bottom: 10px;
}

body .main-search-found .choix-actions {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 95%;
    margin: 0 auto;
    @media screen and (min-width: 767px) {
        width: 60%;
    }
    @media screen and (min-width: 1200px) {
        width: 40%;
    }
}

body .main-search-found .choix-actions div {
    width: 100%;
}

body .main-search-found .choix-actions div:nth-of-type(1) {
    margin-bottom: 5px;
}

body .main-search-found .choix-actions p {
    height: 50px;

    background-color: #01204E;
    font-size: 16px;
    color: white;
    width: 100%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}


body .main-search-found .choix-actions p a {
    text-decoration: none;
    color: white;

}

body .main-search-progress div {
    text-align: center;
}

body .main-search-progress div:nth-of-type(3) {
    width: 100%;
    max-width: 95%;
    display: flex;
    justify-content: center;
    margin: 5px auto 0;
    @media screen and (min-width: 767px) {
        width: 60%;
    }
    @media screen and (min-width: 1200px) {
        width: 40%;
    }
}

body .main-search-progress div:nth-of-type(3) a {
    height: 50px;
    text-decoration: none;
    background-color: #01204E;
    font-size: 16px;
    color: white;
    width: 100%;
    border: none;
    text-transform: uppercase;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@keyframes rotateimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}