body {
    background-color: skyblue;
}

.img-logo {
    width: 3rem;

}

.search-actif {
    animation: infinite ease 2s rotateimg;

}

body form {
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #000000;
    padding: 1.5rem;
    border-radius: 10px;
}

body .logo-page-accueil {
    width: 13rem;
}

body .logo-page-accueil img {
    width: 100%;
}

body main .form-message {
    display: flex;
}

body main div .current-user {
    color: red;
}

body main div .other-user {
    color: blue;
}

body main .btn-send-message svg {
    width: 20px;
}


@keyframes rotateimg {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}