body {
    background-color: skyblue;
}
.img-logo{
    width: 3rem;
}
body form{
    width: 50%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px #000000;
    padding: 1.5rem;
    border-radius: 10px;
}
