<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}
    {% block meta_tags %}{% endblock %}
    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<header>

    <ul>
        <li><a href="{{ path('app_login') }}">Inscription/connexion</a></li>
    </ul>
    <h1>MatchAge </h1>
    {% set currentRoute = app.request.attributes.get('_route') %}
    {% if currentRoute != 'search_progress' %}
        <div class=" logo-page-accueil ">
            <img src="{{ asset('images/logo.svg') }}" alt="Logo matchAge" class="logo-accueil" id="test-img"
                 data-add-class-target="target">

        </div>
    {% endif %}
</header>


{% block body %}{% endblock %}
</body>
</html>
