{% extends 'base.html.twig' %}

{% block title %}Edit User{% endblock %}

{% block body %}
    <main class="main-inscription">
        <h2>Votre profil</h2>

        {{ include('user/_form.html.twig', {'button_label': 'Mettre à jour'}) }}


    </main>

{% endblock %}
