{% extends 'base.html.twig' %}

{% block title %}New User{% endblock %}

{% block body %}
    <main class="main-inscription">
        <h2>Create new User</h2>

        {{ include('user/_form.html.twig') }}


    </main>

{% endblock %}
